.cart-no {
  position: relative;
  min-height: 5px;
  min-width: 5px;
  border-radius: 50%;
  font-size: 1em;
  background: blue;
  color: white;
  text-align: center;
  top: -45px;
  right: 20;
}
a {
  text-decoration: none;
  color: #343a40;

  &.active {
    color: orange;
  }
}
.logo {
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
